
.table{
    
    width: 1000px;
}

#box_inventario{
    margin: 10px;
}

#row{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 40px;
    margin-top: 70px;
    padding: 70px;
    border-radius: 20px;

}


